<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
      <link rel="stylesheet" href="/style.css">
</head>
<body>
      <nav class="nav">
        <div class="logo">
            <h1 class="h1">Logo</h1>
        </div>
        <ul class="ul">
            <li>
                <a href="/">Home</a>
            </li>
             <li>
                <a href="/Blogpost">Blog Post</a>
            </li>
        </ul>
     </nav>
</body>
</html>